<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Yarsa Admin</title>
    <link rel="stylesheet" href="/css/admincss/customTour.css" />
    <link rel="icon" href="/img/adminImg/favicon.ico" type="image/x-icon" />
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        Update Tour
    </title>
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class="bx bx-user" aria-hidden="true"></i>
            <span class="logo_name">Admin</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="dashboard.html" class="active">
                    <i class="bx bx-grid-alt"></i>
                    <span class="links_name">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="tour_list.html" class="active">
                    <i class="bx bx-box"></i>
                    <span class="links_name">Tours</span>
                </a>
            </li>
            <li>
                <a href="user.html" class="active">
                    <i class="bx bx-user"></i>
                    <span class="links_name">Manage User</span>
                </a>
            </li>
            <li>
                <a href="customTour.html" class="active">
                    <i class="bx bx-customize"></i>
                    <span class="links_name">Custom Tour Requests</span>
                </a>
            </li> 
            <li class="log_out">
                <a href="login.html">
                    <i class="bx bx-log-out"></i>
                    <span class="links_name">Log out</span>
                </a>
            </li>
        </ul>
    </div>

    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class="bx bx-menu sidebarBtn"></i>
                <span class="dashboard">Custom Tour</span>
            </div>
        </nav>

        <div class="home-content">
            <div class="sales-boxes">
                <div class="recent-sales box">
                    <div class="title">Custom Tour Requests Details</div>
                    <div class="table-wrapper">
                        <table class="styled-table">
                            <thead>
                              <tr>
                                <th>User ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>No of People</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Destination</th>
                                <th>Accommodation Type</th>
                                <th>Transportation Preferences</th>
                                <th>Budget</th>
                                <th>Activities and Interests</th>
                                <th></th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for tour in tours %}
                              <tr>
                                <td>{{ tour.userId }}</td>
                                <td>{{ tour.name }}</td>
                                <td>{{ tour.email }}</td>
                                <td>{{ tour.phone }}</td>
                                <td>{{ tour.numOfPeople }}</td>
                                <td>{{ tour.startDate }}</td>
                                <td>{{ tour.endDate }}</td>
                                <td>{{ tour.destination }}</td>
                                <td>{{ tour.accommodation }}</td>
                                <td>{{ tour.transport }}</td>
                                <td>{{ tour.budget }}</td>
                                <td>{{ tour.activities }}</td>
                                <td>
                                  <a
                                    href="{% url 'tour_update' tour.pk %}"
                                    
                                    ><button class="acceptBtn">
                                        Accept
                                    </button></a
                                  >
                                </td>
                                <td>
                                  <a
                                    href="{% url 'tour_delete' tour.pk %}"
                                    
                                    ><button class="rejectBtn">
                                        Reject
                                    </button></a
                                  >
                                </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".sidebarBtn");
        sidebarBtn.onclick = function () {
            sidebar.classList.toggle("active");
            if (sidebar.classList.contains("active")) {
                sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        };
    </script>
</body>

</html>