<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="css/login.css">
</head>
<body>
  <!-- Form-->
  <div class="form">
    <div class="form-toggle"></div>
    <div class="form-panel one">
      <div class="form-header">
        <h1>Account Login</h1>
      </div>
      <div class="form-content">
        <form method="post" action="postlogin">
          <div class="form-group">
            <label for="username">Username</label>
            <input id="username" type="text" name="username" required="required"/>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" required="required"/>
          </div>
          <div class="form-group">
            <label class="form-remember">
              <input type="checkbox"/>Remember Me
            </label>
            <a class="form-recovery" href="/forgotPasswordPage">Forgot Password?</a>
          </div>
          <div class="form-group">
            <button type="submit" style="margin-bottom:1rem;">Log In</button>
          </div>
        </form>
      </div>
      <a href="/signup" style="text-decoration: none;color: black;" class="register_link">Don't have an account? <strong style="color:#4285F4">Register Here</strong></a>

    </div>  
    </div>
</body>
</html>
